<%= form_for(house) do |f| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :address, placeholder: 'address' %><br>
  <%= f.text_field :zipcode, placeholder: 'zipcode' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
